@font-face {
    font-family: "Albra Light";
    src: url("../../../public/assets/fonts/albra-Light.otf") format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: "Albra Regular";
    src: url("../../../public/assets/fonts/albra-Regular.otf") format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: "Heebo-regular";
    src: url("../../../public/assets/fonts/Heebo-regular.ttf") format('truetype');
    font-weight: 400;
}


.albra-light {
    font-family: "Albra Light";
}

.albra-reg {
    font-family: "Albra Regular";
}

.heebo-reg {
    font-family: "Heebo-regular";
}