.dark-bg {
    background-color: $color-3C3938;

    .text--color {
        color: $color-E8E8E8;
    }
}


.badge-bg{
    padding: 5px 12px;
    &.white-bg{
        background:rgba($color: $white, $alpha: 0.2) ;
    }
    &.dark-bg{
        background:rgba($color: $color-3C3938, $alpha: 0.2) ;
    }
}
