.dark-bg {
    background-color: $color-3C3938;

    .text--color {
        color: $color-E8E8E8;
    }
}

.hero-section {
    .hero-content {
        height: calc(100% - 80px);
    }
}

.sub-hero-section {
    height: 596px;
}



