.dark-bg{
    background-color: $color-3C3938;
    .text--color{
        color: $color-E8E8E8;
    }
}
.Left-right-section {
    height: 784px;

    .Left-right-img {
        height: 784px;
    }

    .what-we-offer-group {
        .what-we-offer-option {
            cursor: pointer;
            border-top: 1px solid rgba($color: $color-707070, $alpha: $opacity25);

            &:last-child {
                border-bottom: 1px solid rgba($color: $color-707070, $alpha: $opacity25);
            }

            img {
                height: 15px;
            }
        }
    }
}