.blog-open-content-section {
    .investing-links {
        top: 104px;

        .share {
            width: 14px;
        }
    }

    .new-open-img {
        height: 555px;

        @include media-breakpoint-down(lg) {
            height: 270px;
        }
    }
}